#root {
  max-width: 1280px;
  text-align: center;
  font-size: 1.5vh;
  @media (max-height: 700px) {
    font-size: 0.65rem;
  }
}

* {
  border: blue 0px solid;
}

body {
  align-items: center;
  justify-content: center;
  background: rgb(255, 119, 119);
}

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 230, 230);

  @media (min-width: 600px) {
    width: 600px;
    height: 100vh;
  }
}

.header {
  display:flex;
  flex-direction: row;
  margin-top: 0;
  height: 10%;
  border-bottom: black 5px dotted;
  background: rgb(252, 75, 75);
  @media (max-height: 600px) {
    height: 60px;
  }
}

.icon {
  background-color: aqua;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.card-small {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 5vh 15vh 5vh;
  grid-template-areas:
    'image title'
    'image body'
    'image icons';
  column-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background: #fc4b4b;
  width: 80%;
  height: 25%;
  margin:auto;

  @media (max-height: 600px) {
    height: 150px;
  }
}

.card-image {
  grid-area: image;
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  align-self: center;
  }
.card-title {grid-area: title; text-align: left;}
.card-body {grid-area: body; text-align: left; overflow-y: scroll;}
.card-icons {
  display:flex;
  grid-area: icons;
}

.card-body::-webkit-scrollbar{
  width: 16px;
  background-color: #ffffff;
  border: 4px solid transparent;
  border-radius: 8px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #fc4b4b;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.footer {
  display:flex;
  flex-direction: row;
  border-top: black 5px dotted;
  margin-bottom: 0;
  height: 10%;
  background: rgb(252, 75, 75);
  @media (max-height: 600px) {
    height: 60px;
  }
}

.read-the-docs {
  color: #888;
}
