#root {
  max-width: 1280px;
  text-align: center;
  font-size: 1.5vh;
  @media (max-height: 700px) {
    font-size: 0.65rem;
  }
}

textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5vh;
}
textarea::placeholder {
  color: #ffffff;
}


* {
  border: blue 0px solid;
  scrollbar-width: none;
}

body {
  align-items: center;
  justify-content: center;
  background: rgb(255, 119, 119);
}

input[type="text"], textarea {
  background-color : #d73e3e; 
}

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 230, 230);

  @media (min-width: 600px) {
    width: 600px;
    height: 100vh;
  }
}
.loading-container {
  height: 80vh;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.header {
  position:relative;
  display:flex;
  flex-direction: row;
  margin-top: 0;
  height: 10%;
  border-bottom: black 5px dotted;
  background: #fc4b4b;
  z-index: 2;
  @media (max-height: 600px) {
    height: 60px;
  }
  animation: 1s headerSlideIn;
}
@keyframes headerSlideIn {
  from {
    transform: translate(0px, -150px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.user-window {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position:absolute;
  width: 200px;
  height: 50px;
  background: #fc4b4b;
  border-right: black 5px dotted;
  border-left: black 5px dotted;
  border-top: black 3px solid;
  border-bottom: black 3px solid;
  border-radius: 20px;
  top:60px;
  right: 10px;
  z-index: 1;
  animation: 0.5s headerSlideIn;
}
.user-image {
  border-radius: 20px;
}
.user-username {
  text-align: center;
  margin: auto;
}
.icon-logout {
  background-image: url("../resources/Images/logout-icon.png");
  transform: scale(0.8) !important;
}

.query-bar {
  display:flex;
  flex-direction: row;
  width: 80%;
  align-self:center ;
  justify-self: baseline;
  align-items: center;
  justify-content: space-around;
  background: #fc4b4b;
  border-radius: 20px;
  margin-top: 10px;
  animation: 1s slidein;
}

@keyframes slidein {
  from {
    transform: scaleY(0);
    transform: translate(0px, -75px);
  }

  to {
    transform: scaleY(1);
    transform: translate(0px, 0px);
  }
}

.query-dropdown {
  width: 15%;
}

.icon {
  background-color: #d73e3e;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  align-self: center;
  width: 3rem;
  height: 3rem;
  transition: 0.2s;
  border-radius: 20px;
  margin:auto;
  background-size: 70%;
  transform: scale(0.6);
}
.icon:hover {
  transform: scale(0.8);
  border-color: #ffffff00;
}

.icon-home:hover, .icon-user:hover, .icon-search:hover, .icon-post:hover{
  transform: scale(1);
}
.icon-search {
  background-image: url("../resources/Images/SearchButton.png");
  background-size:cover;
  transform: scale(0.8);
}
.icon-home {
  background-image: url("../resources/Images/home-icon.png");
  transform: scale(0.8);
}
.icon-user {
  background-image: url("../resources/Images/user-icon.png");
  transform: scale(0.8);
}
.icon-post {
  background-image: url("../resources/Images/post-icon.png");
  transform: scale(0.8);
}
.icon-upvote {
  background-image: url("../resources/Images/arrow-up.png");
}
.icon-downvote {
  background-image: url("../resources/Images/arrow-up.png");
  transform: scale(-0.6);
}
.icon-downvote:hover {
  transform: scale(-0.8);
}
.icon-delete-comment {
  background-image: url("../resources/Images/close-icon.png");
}
.icon-empty {
  width: 3.7rem;
}
.icon-next {
  background-image: url("../resources/Images/next-arrow-icon.png");
}
.icon-prev {
  background-image: url("../resources/Images/next-arrow-icon.png");
  transform: scale(-0.6);
}
.icon-prev:hover {
  transform: scale(-0.8);
}
.votes-counter {
  margin:auto;
}

.list-container {
  overflow-y: scroll;
  margin-top: 20;
  scrollbar-width: none;
}
.page-container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 30%;
  display: flex;
  flex-direction: row;
}

.comment-container {
  display: block;
  overflow: auto;
}

.error-card {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  padding: 20px;
  border-radius: 20px;
  background: #fc4b4b;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  scrollbar-width: none;
  height: auto;
}

.error-card > .icon {
  height: 50px;
  width: 100px;
  text-align: center;
  text-justify: center;
}

.error-card > img {
  width: 80%;
  align-self: center;
  justify-self: center;
}

.card-small {
  display: grid;
  grid-template-columns: 30% 65%;
  grid-template-rows: 5vh 10vh;
  grid-template-areas:
    'image title'
    'image body';
  column-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background: #fc4b4b;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  overflow:clip;

  @media (max-height: 600px) {
    height: 150px;
  }
}

.card-big {
  display: grid;
  grid-template-areas:
    'image image'
    'title title'
    'body body'
    'icons comment-button'
    'comments comments';
  column-gap: 10px;
  padding: 10px;
  border-radius: 20px;
  background: #fc4b4b;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  scrollbar-width: none;
  height: auto;
  align-items: center;
  justify-content: center;
}

.comment-form {
  display: grid;
  grid-template-columns: 80% 15%;
  grid-template-areas:
    'body button';
  column-gap: 10px;
  row-gap: 10px;
  padding: 10px;
  background: #d73e3e;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  scrollbar-width: none;
  height: auto;
  animation: 0.5s commentSlideIn;
}
.comment-form > input[type="text"], textarea {
  border-radius: 10px;
  background-color : #fc4b4b;
}

@keyframes commentSlideIn {
  from {
    transform: translate(0px, -50px) scaleY(0);
  }

  to {
    transform: translate(0px, 0px) scaleY(1);
  }
}

.label-title {
  grid-area: label-title;
}
.comment-title {
  grid-area: title;
}
.comment-body {
  grid-area: body;
  background: #fc4b4b;
  height: 4rem;
  max-width: 99%;
  min-width: 99%;
  min-height: 4rem;
  max-height: 10rem;
}
.label-body {
  grid-area: label-body;
}

.comment-card {
  display: grid;
  grid-template-columns: 65% 30%;
  grid-template-areas:
    'title icons'
    'title delete'
    'body body';
  column-gap: 10px;
  padding: 10px;
  background: #d73e3e;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  scrollbar-width: none;
  height: auto;
}
.comment-card > .card-icons > button{
  background-color: #fc4b4b;
}
.comment-card > .card-icons > button:disabled {
  background-color: #000000af;
}
.comment-delete-button {
  grid-area: delete;
  background-color: #fc4b4b;
  width: fit-content;
  align-self: right;
  justify-self: right;
}

.card-image-container {
  grid-area: image;
  align-self: center;
  width: 100%;
  height: 100%;
}
.card-image {
  grid-area: image;
  border-radius: 20px;
  object-fit:cover;
  width: 100%;
  height: 100%;
  align-self: center;
  }
.card-title {
  grid-area: title;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.big-card-title {
  grid-area: title;
  text-align: left;
  text-wrap:wrap;
}
.big-card-comment-button {
  grid-area: comment-button;
  width:50%;
  justify-self: right;
  font-size: 2.5vw;
  background-color: #d73e3e;
}
.card-body {
  grid-area: body;
  text-align: left;
  overflow-y: auto;
}
.small-card-body {
  grid-area: body;
  text-align: left;
  overflow-y:hidden;
  line-height: 0.4;
}
.card-icons {
  display:flex;
  grid-area: icons;
  align-content: right;
  justify-content: right;
}
.card-comments {
  height: fit-content;
  grid-area: comments;
  margin-top: 10px;
  width: 95%;
}

*::-webkit-scrollbar{
  width: 16px;
  background-color: #ffffff;
  border: 4px solid transparent;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #fc4b4b;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.footer {
  display:flex;
  flex-direction: row;
  border-top: black 5px dotted;
  margin-bottom: 0;
  height: 10%;
  background: rgb(252, 75, 75);
  @media (max-height: 600px) {
    height: 60px;
  }
  animation: 1s footerSlideIn;
}
@keyframes footerSlideIn {
  from {
    transform: translate(0px, 150px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.read-the-docs {
  color: #888;
}
